body {
}

div.vscard {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    border: .7vw solid;
    color: #fff;
    border-radius: 1rem;
    width: 20vw;
    min-width: 250px;
    padding: 2vw;
    margin: 1vw;
    font-size: 25px;
    text-align: center;
}

div.vscard > span {
    font-size: 15px;
}
